body {
	background-image: url('../images/list-photo.jpeg');
	height: 600px;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
}

section {
	padding-top: 20px;
	padding-bottom: 20px;
}

ul {
	list-style: none;
	padding-left: 0;

}

li {
	line-height: 50px;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	border: solid 1px gray;
}

h2 {
}

.controls input,
.controls button {
	box-sizing: border-box;
	margin: 10px;
	padding: 10px;
}

.controls p {
	margin-bottom: 0;
}

.controls button {
	background-color: red;
	border: transparent 0;
	border-radius: 5px;
	color: white;
}

.container {
	background-color: white;
	width: 350px;
	margin-left: 65%;
	padding: 20px;
	text-align: center;
}

li .delete {
  cursor: pointer;
  float: right;
  margin-top: 12px;
  width: 24px;
  height: 24px;
  background: url('../images/Delete_Button_24.png');
  background-repeat: no-repeat;
}

.to-do {
	color: red;
	cursor: pointer;
}

.done {
	color: gray;
	cursor: pointer;
}

.to-do button,
.done button {
	background-color: red;
	border: transparent 0;
	border-radius: 5px;
	font-size: .75em;
	line-height: 2em;
	color: white;
	margin-left: 10px;
}

/*
.checkmark {
  float: left;
  margin-top: 12px;
  width: 24px;
  height: 24px;
}

.do, .undo {
	cursor: pointer;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}

.do {
  background: url('../images/Checkmark_24.png');
  display: block;
}

.undo {
  background: url('../images/Checkmark_Undo_24.png');	
  display: none;
}

.completed {
	color: gray;
} */

.credits {
	font-size: .75em;
}
